<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
  
  <!-- my styles -->
  <link rel="stylesheet" href="../style/style.css" />
  <link rel="stylesheet" href="../style/scroll-style.css" />
  
  <!-- Fonts -->  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">

  <title>Desarrollo Web</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark navbar-expand-lg" >
    <a class="navbar-brand" href="./index.html">
      <img src="../assets/img/2210140-web-development/svg/016-web development.svg" width="75" height="75" alt=""
        loading="lazy" />
      <h4>Desarrollo Web</h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="./index.html">1. Intro <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./frontend_backend.html">2. Frontend & Backend</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="./on_construction.html" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            3. Introducción a lenguajes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="./on_construction.html">HTML</a>
            <a class="dropdown-item" href="./on_construction.html">CSS</a>
            <a class="dropdown-item" href="./on_construction.html">JS</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./on_construction.html">5. Freamworks </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col col-title">
        <img src="../assets/img/2210140-web-development/png/006-web development.png" alt="Logos de los diferentes lenguajes de frontEnd" height="250" loading="lazy"
          class="img-js" />
        <h1>¿Qué es un sitio web?</h1>
      </div>
      <div class="col col-text">
        <img src="../assets/img/editor_example.png" alt="ejemplo de vista de proyecto en un editor" loading="lazy"
          class="img-editor-example" />
        <div class="text-container">
          <p class="text-custome">
            Cuando hablamos de sitios o aplicaciones web se nos vienen un montón
            de ejemplos a la cabeza: Facebook, Google, Wikipedia, blogs, etc. Lo
            primero que tenemos que saber es que estos sitios funcionan dentro
            de un navegador web, sea en una computadora o un celular. Pero en
            realidad ¿qué es un sitio web? Bien, técnicamente <span class="text-custome-color">es un conjunto de
            archivos relacionados entre si</span>, como vemos en la imagen:
          </p>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="col col-text">
        <img src="../assets/img/html.png" alt="Logos de los diferentes lenguajes de frontEnd" height="250"
        loading="lazy" class="img-html" />
        <div class="text-container">
          <p class="text-custome">
            Un sitio web esta formado por diferentes páginas web. Podríamos
            compararlo con un libro, ya que este es un conjunto de páginas. En
            el ejemplo anterior, vemos un carpeta con varios archivos, nuestras
            páginas ahí, serían:
          </p>
          <div class="list">
            <ul class="list-group ">
              <li class="list-group-item">index.html</li>
              <li class="list-group-item">contacto.html</li>
              <li class="list-group-item">formulario.html</li>
            </ul>
          </div>
          <p class="text-custome">
            Estos archivos están escritos con el lenguaje HTML, por eso su
            extensión es .html y son los que le dan la estructura a nuestro
            sitio.
          </p>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="col col-text">
        <img src="../assets/img/css3.png" alt="Logos de los diferentes lenguajes de frontEnd" height="250"
          loading="lazy" class="img-css" />
        <div class="text-container">
          <p class="text-custome">
            Luego tenemos:
          </p>
          <div class="list">
            <ul class="list-group ">
              <li class="list-group-item">style.css</li>
              <li class="list-group-item">form_style.css</li>
            </ul>
          </div>
          <p class="text-custome">
            Estos están escritos en el lenguaje CSS, su extensión es .css y son
            los que le dan el estilo a la estructura de nuestros html.
          </p>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="col col-text">
        <img src="../assets/img/js.png" alt="Logos de los diferentes lenguajes de frontEnd" height="250" loading="lazy"
          class="img-js" />
        <div class="text-container">
          <p class="text-custome">
            Y por último, tenemos:
          </p>
          <div class="list">
            <ul class="list-group ">
              <li class="list-group-item">index.js</li>
              <li class="list-group-item">validar.js</li>
            </ul>
          </div>
          <p class="text-custome">
            Estos están escritos en JavaScript, su extensión es .js y son los
            que hacen que nuestra web sea funcional.
          </p>
        </div>
      </div>
              <p class="text-custome-important">
                Este tipo de archivos CSS y JS, complementan a las páginas HTML!
              </p>
    </div>
    <div class="row">
      <div class="col col-title">
        <img src="../assets/img/2210140-web-development/svg/031-server.svg" alt="Logos de los diferentes lenguajes de frontEnd" height="250" loading="lazy"
          class="img-js" />
        <h1>Hosting</h1>
      </div>
      <div class="col col-text">
        <div class="text-container-xl">
          <p class="text-custome">
            Una vez que tenemos un sitio web armado,  <span class="text-custome-color">tenemos que 
            alojar nuestro proyecto web en servidor</span>, es decir, copiar la carpeta
            con todos los archivos dentro de un servidor, para que otros pueden
            ver a nuestro sitio a través de internet. En general, estos
            servidores son provistos por empresas que se dedican al "hosting"
            (almacenar sitios web). Hay algunas que venden el espacio y otras
            que lo ceden de forma gratuita. Algunos ejemplos son: Amazon, Hostgator, entre otras.
          </p>
          <p class="text-custome">
            También existen empresas que venden sitios web pre-armados, es decir que no es necesario programarlos,
             lo único que hay que hacer es agregar contenido propio y organizarlo para que se vea como queramos. 
             Ejemplos de estas empresas son: Wix, WordPress, TiendaNube…
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-title">
        <img src="../assets/img/2210140-web-development/svg/021-search engine.svg" alt="Logos de los diferentes lenguajes de frontEnd" height="250" loading="lazy"
          class="img-js" />
        <h1>Dominio</h1>
      </div>
      <div class="col col-text">
        <div class="text-container-xl">
          <p class="text-custome">
            Para poder acceder a un sitio web desde internet solo basta con tipear su dirección, por ejemplo si 
            tipeamos en el navegador <a href="http://www.chicasprogramadoras.club/">www.chicasprogramadoras.club</a> inmediatamente nos aparecerá el sitio web del club
          </p>
          <p class="text-custome text-custome-color">
            Pero...cómo es que al tipear esa dirección aparece el sitio web? 
          </p>
          <p class="text-custome">
            Es porque debemos alojar nuestro sitio en un lugar donde pueda ser accedido por todos y además asociarle un dominio, 
            es decir, ponerle un "nombre" que podamos recordar y este disponible.
          </p>
          <p class="text-custome text-custome-color">
            Un dominio de Internet es un nombre único que identifica a un sitio web en Internet. 
          </p>
          <p class="text-custome">
            Para poder adquirir un dominio, debemos consultar antes si está disponible. Luego podemos adquirir el dominios de forma paga
            (con una suscripción permanente o con vencimiento) pero también se pueden adquirir de forma gratuita, aunque estos suelen ser subdominios (por ej: ejemplo.mitiendanube.com).
          </p>
          <p class="text-custome">
            Algunos lugares para consultar y registrar dominios son: NIC.ar, godaddy.com, dot.tk...y muchos más!
          </p>
          <p class="text-custome">
            Una vez que tengamos el dominio, el hosting y el sitio web listos...solo es cuestión de configurar una par de datos <span class="text-custome-color"> y tendremos nuestro sitio online!</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <span class="footer-info">
      Iconos diseñados por
      <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a>
      from
      <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>
    </span>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>